{#
/**
 * @file
 * Default theme implementation for the basic structure of a sandwich.
 *
 * Available variables:
 * - attributes: HTML attributes for the container div.
 * - name: The name of the sandwich.
 * - bread: The type of bread being used.
 * - cheese: The type of cheese for the sandwich.
 * - veggies: A list of veggies in the sandwich.
 * - protein: A protein topping it off.
 * - condiments: A list of condiments for the sandwich.
 *
 * @ingroup themeable
 */
#}
<section{{ attributes }}>
  <h2>{{ name }}</h2>
  {% if bread %}
    <p><strong>Bread:</strong> {{ bread }}</p>
  {% endif %}

  {% if protein %}
    <p><strong>Protein:</strong> {{ protein }}</p>
  {% endif %}

  {% if cheese %}
    <p><strong>Cheese:</strong> {{ cheese }}</p>
  {% endif %}

  {% if veggies %}
    <strong>Veggies:</strong>
    <ul>
      {% for veg in veggies %}
        <li>{{ veg }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if condiments %}
    <strong>Accoutrement:</strong>
    <ul>
      {% for condiment in condiments %}
        <li>{{ condiment }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</section>
